<h1>Create a Division</h1>
<p>Displays divisions table and add or delete a division </p>
<br>
<form action="/divisions" id="addDiv" method="post">
    Division Name: <input type="text" name="division_name">
    <input type="submit" value="Add Division">
</form>
<br>
<table class="table-striped">
    <thead>
    <th>Division Name</th>
    </thead>
    <tbody>
    {{#each results}}
        <tr>
            <td>{{division_name}}</td>
            <td><button onclick="deleteDiv({{id}})">Delete</button></td>
        </tr>
    {{/each}}
    </tbody>
</table>

<br>
<a href="/conference">Go Back</a>