<h1>NBA DATABASE</h1>
<br>
<p>View and Edit the different tables/relationships of my NBA Database</p>
<a href="/team">View and Edit Teams Table</a> <br>
<a href="/conference">View and Edit Conference - Divisions Relationship</a> <br>
<a href="/players">View and Edit Players Table</a> <br>
<a href="/positions">View and Edit Player - Positions Relationship</a> <br>

<br>
<p>Search Databases</p>
<a href="/search">Search Players Table</a>
